@model NeuropsychInventory.ViewModels.TestItemInventoryVM

@{
    ViewBag.Title = "TakeItemInventory";
}

<h2>@Model.Test.Abbreviation</h2>

@using (Html.BeginForm("TakeItemInventory", "Inventory")) {
    @Html.HiddenFor(m => m.InventoryId)
<table>
    <colgroup>
        <col style="width: 125px;" />
        <col style="width: auto;" />
        <col style="width: 50px;" />
        <col style="width: auto;" />
    </colgroup>
    <thead>
        <tr>
            <th>Product</th>
            <th>In Inv.</th>
            <th>Max</th>
            <th>Done?</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.RegularlyOrderedProducts.Count(); i++ )
    {
        @Html.HiddenFor(m => m.RegularlyOrderedProducts[i].Id)
        <tr>
            <td>
                @Model.RegularlyOrderedProducts[i].Name
            </td>
            <td>
                @Html.TextBoxFor(m => m.RegularlyOrderedProducts[i].UnitsInStock, new { @class = "item-inv-textbox" })
            </td>    
            <td>
                @Model.RegularlyOrderedProducts[i].MaxInStock
            </td>
            <td>
                @Html.CheckBoxFor(x => x.RegularlyOrderedProducts[i].IsInventoried)
            </td>
        </tr>
    }
</table>

<input type="submit" value="Submit" />

}
