@model NeuropsychInventory.Models.Order

@{
    ViewBag.Title = "AutoOrder";
}

<h2>Auto Order</h2>
(Based on last inventory)
<h3>Review Order and Confirm:</h3>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Order</legend>
        <table>
        <tr>
            <th>Test</th>
            <th>Product</th>
            <th>To Order</th>
            <th>Total Price</th>
        </tr>
            @for(int i = 0; i < Model.OrderItems.Count(); i++)
            {
                //if (Model.OrderItems[i].Quantity > 0){
                    @Html.HiddenFor(x => x.OrderItems[i].ProductId)
                    <tr>
                        <td>@Model.OrderItems[i].Product.Test.Abbreviation</td>
                        <td>@Model.OrderItems[i].Product.Name</td>
                        <td>@Html.TextBoxFor(x => x.OrderItems[i].Quantity)</td>
                        <td>$@(Model.OrderItems[i].Product.PricePerUnit * Model.OrderItems[i].Quantity)</td>
                    </tr>
                //}

            }
        </table>
        @Html.HiddenFor(x => x.TotalPrice)
        <input type="submit" value="Confirm" /> or <input type="button" value="Cancel" />

    </fieldset>
}

<p />

